SWM/test/suites/backupinfo.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
   <xs:documentation xml:lang="en">
    Version:2
    Use Case Description Ref:2/155 56-FAE 151 01: rev B
    Date: 1 Nov 2017
    Author: xsasgov
    Copyright (c) 2016 Ericsson AB.
    All rights reserved.
   </xs:documentation>
  </xs:annotation>
  <xs:element name="backup">
    <xs:complexType>
            <xs:annotation>
            <xs:documentation>Describes the metadata that must be packaged with a backup in the backup export package.</xs:documentation>
            </xs:annotation>
            <xs:sequence>
            <xs:element type="xs:dateTime" name="creationTime" nillable="false">
            <xs:annotation>
                <xs:documentation>The creation time of the backup as indicated by the attribute "BrmBackup.creationTime" in ECIM BrM.</xs:documentation>
            </xs:annotation></xs:element>
        <xs:element type="xs:string" name="eventId" nillable="false" minOccurs="0" maxOccurs="1">
            <xs:annotation>
                <xs:documentation>The id of the event that created this backup.</xs:documentation>
            </xs:annotation></xs:element>
        <xs:element type="xs:string" name="userLabel" nillable="false">
            <xs:annotation>
                <xs:documentation>The export label entered by the user as indicated by by the attribute "BrM.exportPackageLabelPrefix" in ECIM BrM.</xs:documentation>
            </xs:annotation></xs:element>
        <xs:element type="xs:string" name="type" nillable="false">
            <xs:annotation>
                <xs:documentation>Backup Type as indicated by the attribute "BrmBackupManager.backupType" of the associated BrmBackupManager instance in ECIM BrM.</xs:documentation>
            </xs:annotation></xs:element>
        <xs:element type="xs:string" name="creationType" nillable="false">
            <xs:annotation>
                <xs:documentation>Creation type of the backup as indicated by the attribte "BrmBackup.creationType" in ECIM BrM.</xs:documentation>
            </xs:annotation></xs:element>
        <xs:element type="xs:string" name="domain" nillable="false">
            <xs:annotation>
                <xs:documentation>Backup Domain as indicated by the attribute "BrmBackupManager.backupDomain" of the associated BrmBackupManager instance in ECIM BrM.</xs:documentation>
            </xs:annotation></xs:element>
        <xs:element name="managedElement" nillable="false">
            <xs:annotation>
                <xs:documentation>Relevant information on the managed element as indicated by Managed Element MOC in ECIM TOP.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute type="xs:string" name="id">
                    <xs:annotation>
                      <xs:documentation>Managed Element Id as indicated in the attribute "ManagedElement.managedElementId" in ECIM TOP.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="xs:string" name="type">
                    <xs:annotation>
                      <xs:documentation>Managed Element type as indicated in the attribute "ManagedElement.managedElementType" in ECIM TOP.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="xs:string" name="siteLocation">
                    <xs:annotation>
                      <xs:documentation>Site location of the managed element as indicated in the attribute "ManagedElement.siteLocation" in ECIM TOP. If the value of this attribute is empty in ECIM TOP, the value of this element shall be set to UNSET.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="xs:string" name="dnPrefix">
                    <xs:annotation>
                      <xs:documentation>DN Prefix as indicated in the attribute "ManagedElement.dnPrefix" in ECIM TOP. If the value of this attribute is empty in ECIM TOP, the value of this element shall be set to UNSET.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute type="xs:string" name="release" use="required">
                    <xs:annotation>
                      <xs:documentation>Managed Element release as indicated by the attribute "ManagedElement.release" in ECIM TOP. If the value of this attribute is empty in ECIM TOP, the value of this element shall be set to UNSET.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
        </xs:element>
        <xs:element name="softwareInventory" nillable="false">
                    <xs:annotation>
                   <xs:documentation>Software Inventory information as indicated by the attribute "BrmBackup.swVersion" in ECIM BrM.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
            <xs:sequence minOccurs="1">
              <xs:element name="softwareVersion" maxOccurs="unbounded" minOccurs="1" nillable="false">
                                <xs:annotation>
                                <xs:documentation>The active software version(s) of the ME when the backup is created.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="productRevision" use="required"/>
                      <xs:attribute type="xs:string" name="productNumber" use="required"/>
                      <xs:attribute type="xs:string" name="productName" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="exportTime" type="xs:dateTime" nillable="false">
        <xs:annotation>
        <xs:documentation>The time when backup is exported from the Managed Element.</xs:documentation>
        </xs:annotation></xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required">
      <xs:annotation>
      <xs:documentation>The name of the backup as indicated by the attribute "BrmBackup.backupName" in ECIM BrM.</xs:documentation>
      </xs:annotation></xs:attribute>
      <xs:attribute name="version" type="xs:unsignedInt" use="required">
      <xs:annotation>
      <xs:documentation>The version of backupinfo schema definition file.</xs:documentation>
      </xs:annotation></xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
