rcsmw/ALH/dtd/RBS_CS_AVAILABILITY_LOG.dtd

<!--  Availability Log XML Document Type Definition(DTD) -->

<!--
 %CCaseCopyrightBegin%
 Copyright (c) Ericsson AB 2013-2014 All rights reserved.
 
 The information in this document is the property of Ericsson.
 
 Except as specifically authorized in writing by Ericsson, the 
 receiver of this document shall keep the information contained 
 herein confidential and shall protect the same in whole or in 
 part from disclosure and dissemination to third parties.
 
 Disclosure and disseminations to the receivers employees shall 
 only be made on a strict need to know basis.
 %CCaseCopyrightEnd%
                     
-->


<!-- 
dtd for tags generated by the log server.
-->

<!ELEMENT Log ( LogCreated, LogRecord+ ) >

<!ELEMENT LogCreated ( LogName, TimeStamp, AdditionalLogInfo? ) >

<!ELEMENT LogName ( #PCDATA ) >

<!ELEMENT AdditionalLogInfo ( #PCDATA ) >

<!ELEMENT LogRecord ( TimeStamp, RecordContent ) >
<!ATTLIST LogRecord number NMTOKEN #REQUIRED >


<!ELEMENT TimeStamp ( year, month, day, hour, minute, second ) >

<!ELEMENT day ( #PCDATA ) >

<!ELEMENT hour ( #PCDATA ) >

<!ELEMENT minute ( #PCDATA ) >

<!ELEMENT month ( #PCDATA ) >

<!ELEMENT second ( #PCDATA ) >

<!ELEMENT year ( #PCDATA ) >


<!-- 
dtd for tags generated by the availability log
-->

<!ELEMENT RecordContent ( LogInfoRecord | ( AdditionalInfo | AvailabilityInfo | EventReason | HwPid | InService | NodeEvent | OtherEvent | OutOfService | PartiallyOutOfService | PiuAddress | PiuType | PlugInUnitEvent | ProgramEvent | ServiceEvent | ServiceInstance | ServiceType | HardWareEvent | HwType | HwAddress | SwPid )* ) >


<!ELEMENT LogInfoRecord ( RcsTimeChange | RcsNodeRestart) >

<!ELEMENT RcsTimeChange ( OldTime, NewTime ) >

<!ELEMENT OldTime ( year, month, day, hour, minute, second ) >

<!ELEMENT NewTime ( year, month, day, hour, minute, second ) >

<!ELEMENT RcsNodeRestart EMPTY >


<!ELEMENT NodeEvent EMPTY >

<!ELEMENT PlugInUnitEvent EMPTY >

<!ELEMENT HardWareEvent EMPTY >

<!ELEMENT ServiceEvent EMPTY >

<!ELEMENT ProgramEvent EMPTY >

<!ELEMENT OtherEvent EMPTY >


<!ELEMENT InService EMPTY >

<!ELEMENT OutOfService EMPTY >

<!ELEMENT PartiallyOutOfService EMPTY >


<!ELEMENT EventReason ( #PCDATA ) >

<!ELEMENT PiuType ( #PCDATA ) >

<!ELEMENT HwType ( #PCDATA ) >

<!ELEMENT HwAddress ( #PCDATA ) >

<!ELEMENT ServiceType ( #PCDATA ) >

<!ELEMENT ServiceInstance ( #PCDATA ) >


<!ELEMENT PiuAddress ( SwitchModuleNumber, SwitchPortNumber ) >

<!ELEMENT SwitchModuleNumber ( #PCDATA ) >

<!ELEMENT SwitchPortNumber ( #PCDATA ) >


<!ELEMENT HwPid ( ProdNo, ProdRev, ProdName ) >

<!ELEMENT ProdName ( #PCDATA ) >

<!ELEMENT ProdNo ( #PCDATA ) >

<!ELEMENT ProdRev ( #PCDATA ) >


<!ELEMENT SwPid ( ProdNo, ProdRev ) >



<!ELEMENT AvailabilityInfo ( RcsNodeIdentityInfo | Tn | Cat | Grat | Wrat | Lrat | AppLog )* >

<!ELEMENT AdditionalInfo ( Rcs | Tn | Cat | Grat | Wrat | Lrat | AppLog )* >

<!ELEMENT Rcs ( Cause | RankCold | RankWarm | RankColdWTest | RcsNodeDown )* >

<!ELEMENT Tn ( Cause | InfoText | RankCold | RankWarm | RankColdWTest | RestartCompleted | PiuInfo | NodeInfo )* >

<!ELEMENT Cat ( Cause | InfoText | RankCold | RankWarm | RankColdWTest | RestartCompleted | PiuInfo | NodeInfo )* >

<!ELEMENT Grat ( Cause | InfoText | RankCold | RankWarm | RankColdWTest | RestartCompleted | PiuInfo | NodeInfo )* >

<!ELEMENT Wrat ( Cause | InfoText | RankCold | RankWarm | RankColdWTest | RestartCompleted | PiuInfo | NodeInfo )* >

<!ELEMENT Lrat ( Cause | InfoText | RankCold | RankWarm | RankColdWTest | RestartCompleted | PiuInfo | NodeInfo )* >

<!ELEMENT AppLog ( Cause | InfoText | RankCold | RankWarm | RankColdWTest | RestartCompleted | PiuInfo | NodeInfo )* >

<!ELEMENT Cause ( #PCDATA ) >

<!ELEMENT InfoText ( #PCDATA ) >

<!ELEMENT RankCold EMPTY >

<!ELEMENT RankWarm EMPTY >

<!ELEMENT RankColdWTest EMPTY >

<!ELEMENT RestartCompleted EMPTY >

<!ELEMENT PiuInfo ( #PCDATA ) >

<!ELEMENT NodeInfo ( #PCDATA ) >

<!ELEMENT RcsNodeDown ( DownTime ) >

<!ELEMENT DownTime ( ( year, month, day, hour, minute, second ) | Unknown ) >

<!ELEMENT Unknown EMPTY >


<!ELEMENT RcsNodeIdentityInfo ( NodeIdReason, NodeIdentity, UpgradePackage ) >

<!ELEMENT NodeIdReason ( #PCDATA ) >

<!ELEMENT UpgradePackage ( #PCDATA ) >

<!ELEMENT NodeIdentity ( SiteLocation, NetworkManagedElementId, ProdNo, ProdRev, ProdName ) >

<!ELEMENT SiteLocation  ( #PCDATA ) >

<!ELEMENT NetworkManagedElementId ( #PCDATA ) >
