rcsmw/test/test/suites/SWM/swm_backup_SUITE_data/backupinfo.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
   <xs:documentation xml:lang="en">
    2/155 56-FAE 151 01: rev A    
    Date: 02 Jan 2013
    Author: ehoskas		
    Copyright (c) 2013 Ericsson AB.
    All rights reserved.
   </xs:documentation>
  </xs:annotation>
  <xs:element name="backup">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:dateTime" name="creationTime"/>
        <xs:element type="xs:string" name="userLabel"/>
        <xs:element type="xs:string" name="type"/>
        <xs:element type="xs:string" name="creationType"/>
        <xs:element type="xs:string" name="domain"/>
        <xs:element name="managedElement">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
			  	<xs:attribute type="xs:string" name="id"/>
				<xs:attribute type="xs:string" name="type"/>
                <xs:attribute type="xs:string" name="sitelocation"/>
                <xs:attribute type="xs:string" name="dnPrefix"/>
                <xs:attribute type="xs:string" name="release"/>  
                
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="softwareInventory">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="softwareVersion" maxOccurs="unbounded" minOccurs="0" nillable="true">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="productRevision" use="optional"/>
                      <xs:attribute type="xs:string" name="productNumber" use="optional"/>
                      <xs:attribute type="xs:string" name="productName" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="exportTime" type="xs:dateTime" nillable="true"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
      <xs:attribute name="version" type="xs:unsignedInt" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
